<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.admin.system.mapper.DictionaryTypeMapper">
	<resultMap id="BaseResultMap" type="com.krt.admin.system.entity.DictionaryType">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="sortNo" jdbcType="INTEGER" property="sortNo" />
		<result column="inserter" jdbcType="INTEGER" property="inserter" />
		<result column="insertTime" jdbcType="TIMESTAMP" property="insertTime" />
		<result column="updater" jdbcType="INTEGER" property="updater" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id, code, name, remark, sortNo, inserter, insertTime, updater, updateTime
	</sql>

	<select id="selectById" resultType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_dictionary_type
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from t_dictionary_type
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.krt.admin.system.entity.DictionaryType">
		insert into t_dictionary_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="sortNo != null">
				sortNo,
			</if>
			<if test="inserter != null">
				inserter,
			</if>
			<if test="insertTime != null">
				insertTime,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="sortNo != null">
				#{sortNo,jdbcType=INTEGER},
			</if>
			<if test="inserter != null">
				#{inserter,jdbcType=INTEGER},
			</if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.krt.admin.system.entity.DictionaryType">
		update t_dictionary_type
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="sortNo != null">
				sortNo = #{sortNo,jdbcType=INTEGER},
			</if>
			<if test="inserter != null">
				inserter = #{inserter,jdbcType=INTEGER},
			</if>
			<if test="insertTime != null">
				insertTime = #{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 管理页 -->
	<select id="selectListPara" resultType="java.util.Map">
		select id, code, name, remark, sortNo from t_dictionary_type where 1=1
		<if test="code!=''">
			and code=#{code}
		</if>
		<if test="name!=''">
			and  name like concat('%',#{name},'%')
		</if>
	</select>
	
	<!-- 检测字典编码 -->
	<select id="checkCode" resultType="java.lang.Integer">
		select count(id) from t_dictionary_type where code=#{code}
		<if test="id!=null">
			and id != #{id}
		</if>
	</select>
</mapper>