<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.admin.system.mapper.LoginMapper">
   <!-- 查询用户 -->
  <select id="queryUser"  resultType="java.util.Map">
	select * from t_user where username = #{username} and password= #{password} and status='0'
  </select>
  
  <!-- 修改密码 -->
  <update id="changePass">
  	update t_user set password=#{1} where username=#{0}
  </update>
</mapper>