<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.admin.system.mapper.LogMapper">
	<resultMap id="BaseResultMap" type="com.krt.admin.system.entity.Log">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="params" jdbcType="VARCHAR" property="params" />
		<result column="method" jdbcType="VARCHAR" property="method" />
		<result column="requestIp" jdbcType="VARCHAR" property="requestIp" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="inserter" jdbcType="INTEGER" property="inserter" />
		<result column="insertTime" jdbcType="TIMESTAMP" property="insertTime" />
		<result column="updater" jdbcType="INTEGER" property="updater" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id, username, params, method, requestIp, description, type, inserter, insertTime,
		updater, updateTime
	</sql>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_log
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from t_log
		where id = #{id,jdbcType=INTEGER}
	</delete>


	<insert id="insert" parameterType="com.krt.admin.system.entity.Log">
		insert into t_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="params != null">
				params,
			</if>
			<if test="method != null">
				method,
			</if>
			<if test="requestIp != null">
				requestIp,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="inserter != null">
				inserter,
			</if>
			<if test="insertTime != null">
				insertTime,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				#{method,jdbcType=VARCHAR},
			</if>
			<if test="requestIp != null">
				#{requestIp,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="inserter != null">
				#{inserter,jdbcType=INTEGER},
			</if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.krt.admin.system.entity.Log">
		update t_log
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				method = #{method,jdbcType=VARCHAR},
			</if>
			<if test="requestIp != null">
				requestIp = #{requestIp,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="inserter != null">
				inserter = #{inserter,jdbcType=INTEGER},
			</if>
			<if test="insertTime != null">
				insertTime = #{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 日志管理 -->
	<select id="selectListPara" resultType="java.util.Map">
		select id, username, params, method, requestIp, description, type, left(insertTime,20) insertTime from t_log where 1=1
		<if test="username!=''">
			and username like concat('',#{username},'%')
		</if>
		<if test="description!=''">
			and description like concat('',#{description},'%')
		</if>
		<if test="type!=''">
			and type = #{type}
		</if>
		order by id desc
	</select>
	
	<!-- 清空日志 -->
	<delete id="deleteAll">
		delete from t_log
	</delete>
</mapper>