<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.admin.system.mapper.RegionMapper">
	<resultMap id="BaseResultMap" type="com.krt.admin.system.entity.Region">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="inserter" jdbcType="INTEGER" property="inserter" />
		<result column="insertTime" jdbcType="TIMESTAMP" property="insertTime" />
		<result column="updater" jdbcType="INTEGER" property="updater" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id,code,name,type,pid,inserter,insertTime,updater,updateTime
	</sql>

	<select id="selectById" resultType="java.util.Map">
		select s1.*,s2.name pname from
		(select id,code,name,type,pid from t_region where id=#{id})s1 left JOIN
		(select id,name from t_region)s2 on s1.pid = s2.id
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from t_region
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.krt.admin.system.entity.Region">
		insert into t_region
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="inserter != null">
				inserter,
			</if>
			<if test="insertTime != null">
				insertTime,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="inserter != null">
				#{inserter,jdbcType=INTEGER},
			</if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.krt.admin.system.entity.Region">
		update t_region
		<set>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="inserter != null">
				inserter = #{inserter,jdbcType=INTEGER},
			</if>
			<if test="insertTime != null">
				insertTime = #{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectList" resultType="java.util.Map">
		select id,code,name,type,pid,inserter,insertTime,updater,updateTime from t_region
	</select>

	<select id="selectListPara" resultType="java.util.Map">
		select s1.*,s2.name typeName from
		(select id,code,name,type,pid,region_hasChild(id) hasChild from t_region where 1=1 and pid=#{pid})s1 left JOIN
		(select code,name from t_dictionary where type='region_type')s2 on s1.type=s2.code
	</select>

	<!-- 检测区域编码 -->
	<select id="checkCode" resultType="java.lang.Integer">
		select count(id) from t_region where code = #{code}
		<if test=" id!=null and id !=''">
			and id!=#{id}
		</if>
	</select>

	<!-- 查询子集 -->
	<select id="selectChildList" resultType="java.util.Map">
		select id from t_region where pid=#{id}
	</select>

	<!-- 根据父id查询子地区 -->
	<select id="selectRegionByPid" resultType="java.util.Map">
		select id,code,name,type,pid from t_region where pid=#{pid}
	</select>

	<!-- 根据type查询地区信息 -->
	<select id="selectRegionByType" resultType="java.util.Map">
		select id,code,name,type,pid from t_region where type=#{type}
	</select>

</mapper>

