<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.ruanjian.course.mapper.TitleMapper">

	<resultMap id="BaseResultMap" type="com.krt.ruanjian.course.entity.Title">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title_name" jdbcType="VARCHAR" property="title_name" />
		<result column="title_type" jdbcType="VARCHAR" property="title_type" />
		<result column="title_source" jdbcType="VARCHAR" property="title_source" />
		<result column="suitMajor" jdbcType="VARCHAR" property="suitMajor" />
		<result column="suitScope" jdbcType="VARCHAR" property="suitScope" />
		<result column="limit_person" jdbcType="VARCHAR" property="limit_person" />
		<result column="meaning_target" jdbcType="VARCHAR" property="meaning_target" />
		<result column="condition_work" jdbcType="VARCHAR" property="condition_work" />
		<result column="author" jdbcType="INTEGER" property="author" />
		<result column="flag" jdbcType="INTEGER" property="flag" />
		<result column="dr" jdbcType="INTEGER" property="dr" />
		<result column="ts" jdbcType="VARCHAR" property="ts" />
	</resultMap>

	<sql id="Base_Column_List">
		id,title_name,title_type,title_source,suitMajor,suitScope,limit_person,meaning_target,condition_work,author,flag,dr,ts
	</sql>

	<!-- 添加选题表 -->
	<insert id="insert" parameterType="com.krt.ruanjian.course.entity.Title">
		insert into title
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="title_name != null"> title_name, </if>
			<if test="title_type != null"> title_type, </if>
			<if test="title_source != null"> title_source, </if>
			<if test="suitMajor != null"> suitMajor, </if>
			<if test="suitScope != null"> suitScope, </if>
			<if test="limit_person != null"> limit_person, </if>
			<if test="meaning_target != null"> meaning_target, </if>
			<if test="condition_work != null"> condition_work, </if>
			<if test="author != null"> author, </if>
			<if test="flag != null"> flag, </if>
			<if test="dr != null"> dr, </if>
			<if test="ts != null"> ts, </if>
			<if test="suitMajorName!=null">suitMajorName,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=INTEGER}, </if>
			<if test="title_name != null"> #{title_name,jdbcType=VARCHAR}, </if>
			<if test="title_type != null"> #{title_type,jdbcType=VARCHAR}, </if>
			<if test="title_source != null"> #{title_source,jdbcType=VARCHAR}, </if>
			<if test="suitMajor != null"> #{suitMajor,jdbcType=VARCHAR}, </if>
			<if test="suitScope != null"> #{suitScope,jdbcType=VARCHAR}, </if>
			<if test="limit_person != null"> #{limit_person,jdbcType=VARCHAR}, </if>
			<if test="meaning_target != null"> #{meaning_target,jdbcType=VARCHAR}, </if>
			<if test="condition_work != null"> #{condition_work,jdbcType=VARCHAR}, </if>
			<if test="author != null"> #{author,jdbcType=INTEGER}, </if>
			<if test="flag != null"> #{flag,jdbcType=INTEGER}, </if>
			<if test="dr != null"> #{dr,jdbcType=INTEGER}, </if>
			<if test="ts != null"> #{ts,jdbcType=VARCHAR}, </if>
			<if test="suitMajorName!=null">#{suitMajorName,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<!-- 删除选题表 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from title where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 修改选题表 -->
	<update id="update" parameterType="com.krt.ruanjian.course.entity.Title">
		update title
		<set>
			<if test="id != null"> id = #{id,jdbcType=INTEGER}, </if>
			<if test="title_name != null"> title_name = #{title_name,jdbcType=VARCHAR}, </if>
			<if test="title_type != null"> title_type = #{title_type,jdbcType=VARCHAR}, </if>
			<if test="title_source != null"> title_source = #{title_source,jdbcType=VARCHAR}, </if>
			<if test="suitMajor != null"> suitMajor = #{suitMajor,jdbcType=VARCHAR}, </if>
			<if test="suitScope != null"> suitScope = #{suitScope,jdbcType=VARCHAR}, </if>
			<if test="limit_person != null"> limit_person = #{limit_person,jdbcType=VARCHAR}, </if>
			<if test="meaning_target != null"> meaning_target = #{meaning_target,jdbcType=VARCHAR}, </if>
			<if test="condition_work != null"> condition_work = #{condition_work,jdbcType=VARCHAR}, </if>
			<if test="flag != null"> flag = #{flag,jdbcType=INTEGER}, </if>
			<if test="dr != null"> dr = #{dr,jdbcType=INTEGER}, </if>
			<if test="ts != null"> ts = #{ts,jdbcType=VARCHAR}, </if>
			<if test="suitMajorName!=null">suitMajorName=#{suitMajorName},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据ID查询选题表 -->
	<select id="selectById" resultType="java.util.Map">
		select
			 id,title_name,title_type,title_source,suitMajor,suitScope,limit_person,meaning_target,condition_work,dr,ts,author,suitMajorName
		from title
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询选题表列表 -->
	<select id="selectList" resultType="java.util.Map">
		select
			id,title_name,title_type,title_source,suitMajor,suitScope,limit_person,meaning_target,condition_work,dr,ts 
		from title
	</select>
	
	<!-- 带参数查询选题表列表 -->
	<select id="selectListPara" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
		 a.title_name,a.id,title_type,title_source,suitMajorName,suitScope,limit_person,meaning_target,condition_work,b.education,b.name as author
		FROM
		title a,
        t_user b
		where
        a.author=b.id
		<if test="roleCode != 'admin'">
			AND a.author = #{userId}
		</if>
        <if test="author != ''">
        AND b.name like CONCAT('%',#{author},'%')
        </if>
        <if test="titlename != ''">
            AND a.title_name like CONCAT('%',#{titlename},'%')
        </if>
	</select>
	<!--当前学生可申请的课题列表-->
	<select id="selectListStudent" resultType="java.util.Map" parameterType="java.util.Map">
       <if test="role!='admin'">
		SELECT
		 a.*,b.name
		 FROM
		title a,
		t_user b
		 where
		FIND_IN_SET(#{major},a.suitMajor)
		   AND
		   a.author=b.id
		AND flag='2'
		  <if test="role=='stu_in'">
			  AND suitScope='校内实训'
		  </if>
		   <if test="role=='stu_out'">
			   AND suitScope='校外实训'
		   </if>
		   <if test="author != ''">
			   AND b.name like CONCAT('%',#{author},'%')
		   </if>
		   <if test="titlename != ''">
			   AND a.title_name like CONCAT('%',#{titlename},'%')
		   </if>
        AND ! FIND_IN_SET(
	a.id,
	(
		SELECT
			IFNULL(GROUP_CONCAT(a.title_id),'')
		FROM
			title_examine a
		WHERE
			a.applicant = #{id}
	)
)
	   </if>
		<if test="role=='admin'">
			SELECT
			a.*,b.name
			FROM
			title a,
			t_user b
			where
			a.author=b.id
			AND
			flag='2'
			<if test="author != ''">
				AND b.name like CONCAT('%',#{author},'%')
			</if>
			<if test="titlename != ''">
				AND a.title_name like CONCAT('%',#{titlename},'%')
			</if>
		</if>
	</select>
	<!--当前课题已审核通过人数-->
	<select id="countPassNumber" resultType="java.lang.Integer" >
		SELECT
		COUNT(id) as idNumber
		FROM
		title_examine a
		WHERE
		a.title_id = #{id}
		AND
		a.status='2'
	</select>

	<select id="teacherExport" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
		c.id as id,
	c. NAME as name,
  c.title_level as title_level,
  c.education as teacEducation,
	d.number as number,
  e.passnumber as passnumber,
  e.selectednumber as selectednumber,
  number-selectednumber as notselectednumber
FROM
	t_user c
LEFT JOIN (
	SELECT
		b.author AS author,
		COUNT(flag) AS number
	FROM
		t_user a
	JOIN title b ON a.id = b.author
	WHERE
		b.flag = '2'
	GROUP BY
		a. NAME
) d ON c.id = d.author
LEFT JOIN (
	SELECT
		e.auditor AS auditor,
		COUNT(e. STATUS) AS passnumber,
    COUNT(e. title_id) AS selectednumber
	FROM
		t_user f
	JOIN title_examine e ON f.id = e.auditor
	WHERE
		e. STATUS = '2'
	GROUP BY
		f. NAME
) e ON c.id=e.auditor
WHERE
	c.roleCode LIKE '%teacr%'
	<if test="teacher!=''">
	 AND c.NAME  like CONCAT('%',#{teacher},'%')
	</if>
	</select>

</mapper>

