<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.ruanjian.course.mapper.TitleMapper">

	<resultMap id="BaseResultMap" type="com.krt.ruanjian.course.entity.Title">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title_name" jdbcType="VARCHAR" property="title_name" />
		<result column="title_type" jdbcType="VARCHAR" property="title_type" />
		<result column="title_source" jdbcType="VARCHAR" property="title_source" />
		<result column="suitMajor" jdbcType="VARCHAR" property="suitMajor" />
		<result column="suitScope" jdbcType="VARCHAR" property="suitScope" />
		<result column="limit_person" jdbcType="VARCHAR" property="limit_person" />
		<result column="meaning_target" jdbcType="VARCHAR" property="meaning_target" />
		<result column="condition_work" jdbcType="VARCHAR" property="condition_work" />
		<result column="author" jdbcType="INTEGER" property="author" />
		<result column="dr" jdbcType="INTEGER" property="dr" />
		<result column="ts" jdbcType="VARCHAR" property="ts" />
	</resultMap>

	<sql id="Base_Column_List">
		id,title_name,title_type,title_source,suitMajor,suitScope,limit_person,meaning_target,condition_work,author,dr,ts
	</sql>

	<!-- 添加选题表 -->
	<insert id="insert" parameterType="com.krt.ruanjian.course.entity.Title">
		insert into title
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="title_name != null"> title_name, </if>
			<if test="title_type != null"> title_type, </if>
			<if test="title_source != null"> title_source, </if>
			<if test="suitMajor != null"> suitMajor, </if>
			<if test="suitScope != null"> suitScope, </if>
			<if test="limit_person != null"> limit_person, </if>
			<if test="meaning_target != null"> meaning_target, </if>
			<if test="condition_work != null"> condition_work, </if>
			<if test="author != null"> author, </if>
			<if test="dr != null"> dr, </if>
			<if test="ts != null"> ts, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=INTEGER}, </if>
			<if test="title_name != null"> #{title_name,jdbcType=VARCHAR}, </if>
			<if test="title_type != null"> #{title_type,jdbcType=VARCHAR}, </if>
			<if test="title_source != null"> #{title_source,jdbcType=VARCHAR}, </if>
			<if test="suitMajor != null"> #{suitMajor,jdbcType=VARCHAR}, </if>
			<if test="suitScope != null"> #{suitScope,jdbcType=VARCHAR}, </if>
			<if test="limit_person != null"> #{limit_person,jdbcType=VARCHAR}, </if>
			<if test="meaning_target != null"> #{meaning_target,jdbcType=VARCHAR}, </if>
			<if test="condition_work != null"> #{condition_work,jdbcType=VARCHAR}, </if>
			<if test="author != null"> #{author,jdbcType=INTEGER}, </if>
			<if test="dr != null"> #{dr,jdbcType=INTEGER}, </if>
			<if test="ts != null"> #{ts,jdbcType=VARCHAR}, </if>
		</trim>
	</insert>
	
	<!-- 删除选题表 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from title where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 修改选题表 -->
	<update id="update" parameterType="com.krt.ruanjian.course.entity.Title">
		update title
		<set>
			<if test="id != null"> id = #{id,jdbcType=INTEGER}, </if>
			<if test="title_name != null"> title_name = #{title_name,jdbcType=VARCHAR}, </if>
			<if test="title_type != null"> title_type = #{title_type,jdbcType=VARCHAR}, </if>
			<if test="title_source != null"> title_source = #{title_source,jdbcType=VARCHAR}, </if>
			<if test="suitMajor != null"> suitMajor = #{suitMajor,jdbcType=VARCHAR}, </if>
			<if test="suitScope != null"> suitScope = #{suitScope,jdbcType=VARCHAR}, </if>
			<if test="limit_person != null"> limit_person = #{limit_person,jdbcType=VARCHAR}, </if>
			<if test="meaning_target != null"> meaning_target = #{meaning_target,jdbcType=VARCHAR}, </if>
			<if test="condition_work != null"> condition_work = #{condition_work,jdbcType=VARCHAR}, </if>
			<if test="dr != null"> dr = #{dr,jdbcType=INTEGER}, </if>
			<if test="ts != null"> ts = #{ts,jdbcType=VARCHAR}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据ID查询选题表 -->
	<select id="selectById" resultType="java.util.Map">
		select
			 id,title_name,title_type,title_source,suitMajor,suitScope,limit_person,meaning_target,condition_work,dr,ts,author
		from title
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询选题表列表 -->
	<select id="selectList" resultType="java.util.Map">
		select
			id,title_name,title_type,title_source,suitMajor,suitScope,limit_person,meaning_target,condition_work,dr,ts 
		from title
	</select>
	
	<!-- 带参数查询选题表列表 -->
	<select id="selectListPara" resultType="java.util.Map">
		SELECT
		 *
		FROM
		title t
	    JOIN major m ON t.suitMajor = m.major_code
		where 1=1
		<if test="userId != null">
			AND t.author = #{userId}
		</if>
	</select>

</mapper>

