<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.ruanjian.course.mapper.TitleExamineMapper">

	<resultMap id="BaseResultMap" type="com.krt.ruanjian.course.entity.TitleExamine">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title_id" jdbcType="INTEGER" property="title_id" />
		<result column="applicant" jdbcType="INTEGER" property="applicant" />
		<result column="auditor" jdbcType="INTEGER" property="auditor" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="ts" jdbcType="VARCHAR" property="ts" />
		<result column="dr" jdbcType="INTEGER" property="dr" />
	</resultMap>

	<sql id="Base_Column_List">
		id,title_id,applicant,auditor,status,ts,dr
	</sql>

	<!-- 添加审核表（记录学生申请的题目） -->
	<insert id="insert" parameterType="com.krt.ruanjian.course.entity.TitleExamine">
		insert into title_examine
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> title_examine_id, </if>
			<if test="title_id != null"> title_id, </if>
			<if test="applicant != null"> applicant, </if>
			<if test="auditor != null"> auditor, </if>
			<if test="status != null"> status, </if>
			<if test="ts != null"> ts, </if>
			<if test="dr != null"> dr, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{title_examine_id,jdbcType=INTEGER}, </if>
			<if test="title_id != null"> #{title_id,jdbcType=INTEGER}, </if>
			<if test="applicant != null"> #{applicant,jdbcType=INTEGER}, </if>
			<if test="auditor != null"> #{auditor,jdbcType=INTEGER}, </if>
			<if test="status != null"> #{status,jdbcType=VARCHAR}, </if>
			<if test="ts != null"> #{ts,jdbcType=VARCHAR}, </if>
			<if test="dr != null"> #{dr,jdbcType=INTEGER}, </if>
		</trim>
	</insert>
	
	<!-- 删除审核表（记录学生申请的题目） -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from title_examine where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 修改审核表（记录学生申请的题目） -->
	<update id="update" parameterType="com.krt.ruanjian.course.entity.TitleExamine">
		update title_examine
		<set>
			<if test="id != null"> title_examine_id = #{id,jdbcType=INTEGER}, </if>
			<if test="title_id != null"> title_id = #{title_id,jdbcType=INTEGER}, </if>
			<if test="applicant != null"> applicant = #{applicant,jdbcType=INTEGER}, </if>
			<if test="auditor != null"> auditor = #{auditor,jdbcType=INTEGER}, </if>
			<if test="status != null"> status = #{status,jdbcType=VARCHAR}, </if>
			<if test="ts != null"> ts = #{ts,jdbcType=VARCHAR}, </if>
			<if test="dr != null"> dr = #{dr,jdbcType=INTEGER}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据ID查询审核表（记录学生申请的题目） -->
	<select id="selectById" resultType="java.util.Map">
		select
			 id,title_id,applicant,auditor,status,ts,dr
		from title_examine
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询审核表（记录学生申请的题目）列表 -->
	<select id="selectList" resultType="java.util.Map">
		select
			id,title_id,applicant,auditor,status,ts,dr
		from title_examine
	</select>
	
	<!-- 带参数查询审核表（记录学生申请的题目）列表 -->
	<select id="selectListPara" resultType="java.util.Map">

        <if test="role!='admin'">
		SELECT
			e.id ,
			t.title_name AS titleName,
			e.applicant AS applicantId,
			uu. NAME AS applyer,
			e.auditor AS auditorId,
			u. NAME AS author,
			CASE
			WHEN  e.status='1' THEN
			'未审核'
			WHEN e.status='2'THEN
			'审核通过'
			ELSE
			'审核未通过'
			END flag
		FROM
			title_examine e
		JOIN title t ON e.title_id = t.id
		JOIN t_user u ON u.id = e.auditor
		AND u.id = #{authorId}
		JOIN t_user uu ON uu.id = e.applicant
		where 1=1
        <if test="status!=''">
            AND e.status = #{status}
        </if>
        <if test="titleName!=''">
            AND t.title_name = #{titleName}
        </if>
        <if test="applyer!=''">
            AND uu.NAME = #{applyer}
		</if>
        </if>
		<if test="role=='admin'">
			SELECT
			e.id ,
			t.title_name AS titleName,
			e.applicant AS applicantId,
			uu. NAME AS applyer,
			e.auditor AS auditorId,
			u. NAME AS author,
			CASE
			WHEN e.status='1' THEN
			'未审核'
			WHEN e.status='2'THEN
			'审核通过'
			ELSE
			'审核未通过'
			END flag
			FROM
			title_examine e
			JOIN title t ON e.title_id = t.id
			JOIN t_user u ON u.id = e.auditor
			AND u.id = e.auditor
			JOIN t_user uu ON uu.id = e.applicant
			WHERE 1=1
            <if test="status!=''">
                AND e.status = #{status}
            </if>
            <if test="titleName!=''">
                AND t.title_name like CONCAT('%',#{titleName},'%')
            </if>
            <if test="applyer!=''">
                AND uu.NAME like CONCAT('%',#{applyer},'%')
            </if>
		</if>
	</select>

	<update id="updateStatusById" parameterType="java.util.Map">
		update title_examine
		set status = #{status},dr = 1
		where id = #{id}
	</update>
	<select id="selectByApplicant"  resultType="java.util.Map" parameterType="java.util.Map">
    <if test="role!='admin'">
	SELECT
	b.title_name AS title_name,
	title_type AS title_type,
	title_source AS title_source,
	suitMajorName AS suitMajorName,
	suitScope AS suitScope,
	c. NAME AS NAME,
	a.id as id,
	CASE
    when a.status='1' THEN
    '未审核'
    WHEN a.status='2'THEN
    '审核通过'
     ELSE
     '审核未通过'
     END status
   FROM
	title_examine a
    JOIN title b ON a.title_id = b.id
    JOIN t_user c ON a.auditor = c.id
     WHERE
		applicant=#{id}
		<if test="author != ''">
			AND c.name like CONCAT('%',#{author},'%')
		</if>
		<if test="titlename != ''">
			AND b.title_name like CONCAT('%',#{titlename},'%')
		</if>
</if>
		<if test="role=='admin'">
			SELECT
			b.title_name AS title_name,
			title_type AS title_type,
			title_source AS title_source,
			suitMajorName AS suitMajorName,
			suitScope AS suitScope,
			c. NAME AS NAME,
			a.id as id,
			CASE
			when a.status='1' THEN
			'未审核'
			WHEN a.status='2'THEN
			'审核通过'
			ELSE
			'审核未通过'
			END status
			FROM
			title_examine a
			JOIN title b ON a.title_id = b.id
			JOIN t_user c ON a.auditor = c.id
			WHERE
			1=1
			<if test="author != ''">
				AND c.name like CONCAT('%',#{author},'%')
			</if>
			<if test="titlename != ''">
				AND b.title_name like CONCAT('%',#{titlename},'%')
			</if>
		</if>
	</select>

	<!-- 校内校外的题目都由该系主任审核 -->
	<!-- 系主任查看本系所有老师出的所有题目-->
	<select id="getTitleByMajor" resultType="java.util.Map">
		SELECT
		t.id,
		t.title_name titleName,
		t.title_type titleType,
		t.title_source titleSource,
		t.suitMajorName,
		t.suitScope,
		t.limit_person limitPerson,
		t.meaning_target meaningTarget,
		t.condition_work conditionWork,
		CASE
		when t.flag='1' THEN
		'待审核'
		WHEN t.flag='2'THEN
		'审核通过'
		ELSE
		'审核未通过'
		END flag
		FROM title t JOIN (
		SELECT id,name FROM t_user WHERE major = (
		SELECT u.major FROM t_user u WHERE u.id = #{userId})) tmp ON t.author = tmp.id and t.flag=1
		<if test="author != ''">
			AND tmp.name like CONCAT('%',#{author},'%')
		</if>
		<if test="titlename != ''">
			AND t.title_name like CONCAT('%',#{titlename},'%')
		</if>
		SELECT id FROM t_user WHERE major = (
		SELECT u.major FROM t_user u WHERE u.id = #{userId})) tmp ON t.author = tmp.id
		<if test="flag != ''">
			and t.flag=#{flag}
		</if>
	</select>

	<select id="getTitlePassAndFail" resultType="java.util.Map">
		SELECT
			t.id,
			t.title_name titleName,
		  	t.title_type titleType,
		 	t.title_source titleSource,
			t.suitMajorName,
			t.suitScope,
			t.limit_person limitPerson,
			t.meaning_target meaningTarget,
			t.condition_work conditionWork,
		CASE
		WHEN flag = '2' THEN
		'审核通过'
		WHEN flag = '3' THEN
		'审核未通过'
		ELSE
		'未审核'
		END 审核状态
		FROM title t JOIN (
		SELECT id FROM t_user WHERE major = (
		SELECT u.major FROM t_user u WHERE u.id = #{userId})) tmp ON t.author = tmp.id and t.flag!=1
	</select>

</mapper>

